@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Gluten:wght@200&family=Grandstander:wght@300&display=swap');
//COLOR KODE
$background: #fafafa;
$main-color: #6BAA4C;
$hover: #8FB768;
$lightGreen: #90b768ab;
$text: #363636;
//FONTS
$navFont: 'Grandstander',
cursive;
$textFont: 'EB Garamond',
serif;
//BREAKPOINTS
$x-large: 1300px;
$large: 1300px;
$tablet: 780px;
$mobile: 580px;