@import '../../../assets/Helpers/mixin';
@import '../../../assets//Helpers//variabler';

h2 {
    @include headers();
}

.form {


    input {
        margin-left: 36%;
        margin-bottom: 10px;
        padding: 5px 5px;
        display: block;
        width: 35%;
        height: 35px;
        border: 1 solid;
        background-color: #fff;
    }

    //Textarea
    textarea {
        border: 1 solid;
        resize: none;
        margin-bottom: 10px;
        padding: 5px 5px;
        display: block;
        width: 35%;
        height: 30vh;
        background-color: #fff;
        margin-left: 36%;

    }

    //Style af knapper
    button {
        margin-left: 36%;
        width: 10%;
        margin-bottom: 5%;
        color: #fff;
        border: none;
        padding: 0.5em 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        background-color: $hover;
    }

}

//Den besked der kommer frem efter sendt form
.formMessage {

    article {
        height: 50vh;
        margin: 10% 0% 5% 5%;
        border: 0.2em solid $main-color;
        background-color: $hover;

        p {
            color: $background;
        }
    }
}